@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family:'Poppins',sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;    
}
   
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg,#2ecc71 60%,#27ae60 40.1%);
}

.container form{
padding: 20px;
width: 700px;
background-color: #fff;
box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.container form .row .col{
    flex: 1 1 250px;
}

.container form .row .col .title{
font-size: 20px;
color:#333;
padding-bottom: 5px;
text-transform: uppercase;
}

.container form .row .col .inputbox{
    margin:15px 0;
}

.container form .row .col .inputbox span{
    margin-bottom:10px;
    display: block;
}

.container form .row .col .inputbox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputbox input:focus{
    border:1px solid#000;
}

.container.form .row .col .flex{
    display: flex;
    gap:15px
}

.container form .row .col .inputbox{
    margin-top:5px;
}

.container form .row .col .inputbox img{
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    cursor: pointer;
}

.container form .submit-btn:hover{
    background: #2ecc71;
}
#status{
    width: 90%;
    max-width: 500px;
    text-align: "center";
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}
#status.error{
    background-color: rgb(240, 24, 28); 
    color: rgb(255, 255, 255);
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
    opacity: 1;
    pointer-events:all;
    }
    90%{
        opacity: 1;
        pointer-events:all;
    }
    100%{
        opacity: 1;
        pointer-events:none;
    }

}


