
{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body
{
background-image: url(background.jpg);
background-size: cover;
background-position: center;


font-family: sans-serif;
}
.menu-bar
{
background: rgb(0,0,255);
text-align: center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;
}
.menu-bar ul li
{
width: 120px;
margin: 15px;
padding: 15px;
background-color:#c0c0c0;
}
.menu-bar ul li a
{
text-decoration: none;
color: #fff;
}
.active, .menu-bar ul li:hover
{
background:#00ff00;
border-radius: 3px;
}
.menu-bar .fa
{
margin-right: 8px;
}


